<div class="uk-background-primary uk-light">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
            <div class="uk-navbar-left ">
                <a class="uk-navbar-item uk-logo">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                </a>
                <ul class="uk-navbar-nav">
                    <li><a [routerLink]="['/clinic/costumers']" >Clientes</a></li>
                    <li><a [routerLink]="['/clinic/services']" >Serviços</a></li>
                    <li><a [routerLink]="['/clinic/products']">Produtos</a></li>
                    <li><a [routerLink]="['/clinic/attendance']">Atendimentos</a></li>
                    <li><a [routerLink]="['/clinic/service-categories']">Categorias de Serviços</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a>
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user">Minha Conta</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out">Sair</span>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </nav>
    </div>
</div>