<div class="uk-background-blend-color-dodge uk-width-1-2@m "></div>
<div *ngFor="let product of products$ | async" class="uk-width-1-2@m" >
    <app-product-list  [product]="product"></app-product-list>
</div>
<div></div>
<button class="uk-button uk-button-default uk-margin-small-left uk-" uk-toggle="target: #modalProducts" type="button"> Adcionar Produto</button>
<div id="modalProducts" uk-modal>        
    <form >
        <div class="uk-flex-center" uk-grid>
            <div class="uk-width-1-3@m"> 
                <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
                    <h3 class="uk-card-title">Cadastro de Produtos</h3>   
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Nome do Produto">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Marca">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Medida">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Quantidade">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Peso">
                    </div >
                    <div class="uk-margin">
                        <input class="uk-input- uk-form-large" type="text" name="" id="" placeholder="Volume">
                    </div >

                    <div class="uk-margin uk-text-center">
                        <button class="uk-margin-small-right 
                        uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-margin-small-left uk-button uk-button-default" type="button">Salvar</button>
                    </div>
                </div>
            </div>
        
        </div>
    </form>
</div>
<footer></footer>